/*
Author: Allan Bachmann
Inquiries: info@ajaybachmann.ch
License: MIT
*/

// Red
$r1: #ffcdd2;
$r2: #ef9a9a;
$r3: #e57373;
$r4: #ef5350;
$r5: #f33446;
$r6: #f33446;
$r7: #f33446;
$r8: #f33446;
$r9: #f33446;

// Green
$g1: #0FCF50;

/* Class: Text Red */
.text-r1 { color: $r1; }
.text-r2 { color: $r2; }
.text-r3 { color: $r3; }
.text-r4 { color: $r4; }
.text-r5 { color: $r5; }
.text-r6 { color: $r6; }
.text-r7 { color: $r7; }
.text-r8 { color: $r8; }
.text-r9 { color: $r9; }
